.selected {
  background: white;
  color: black;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  width: 80%;
}

.pages p {
  font-size: 1.2em;
  margin-right: 50px;
}

.pages2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  width: 300px;
  // height: 700px;
  background: #6B4F4F;
  margin: 0;
}

.tabs {
  display: flex;
  justify-content: center;
}



.tabAnimation {
  transform: translateY(0);
    opacity: 1;
}
